<% include ../partials/header.ejs %>

<div class="container">
    <h2>My Books</h2>
    <div class='row'>
    <% if (books) { books.forEach(function(book) { %>
        <div class='book col-md-2 col-sm-4'>
            <div class="thumbnail">
                <img src='<%= book.imageUrl %>'>
                <hr>
                <div class='caption text-center'>
                     <%= book.title %> 
                 </div>
            </div>
        </div>
    <% }) } %>
    </div>
    
    <h2>My Requests</h2>
    <div class="row">
        <% if (requestedBooks) { requestedBooks.forEach(function(request) { %>
            <div class='book col-md-2 col-sm-4'>
                <div class="thumbnail">
                    <img src='<%= request.book.imageUrl %>'>
                    <hr>
                    <div class='caption text-center'>
                         <%= request.book.title %> 
                     </div>
                </div>
            </div>
        <% })} %>
    </div>
    
    <h2>Requests Received</h2>
        <div class="row">
        <% if (requestsReceived) { requestsReceived.forEach(function(request) { %>
            <div class='book col-md-2 col-sm-4'>
                <div class="thumbnail">
                    <img src='<%= request.book.imageUrl %>'>
                    <hr>
                    <a href="/user/<%=request.requesterId%>/books" class="btn btn-success btn-block">View Books</a>
                    <div class='caption text-center'>
                         <%= request.book.title %> 
                     </div>
                </div>
            </div>
        <% })} %>
    </div>
    
    <h2>Trades Ready</h2>
    <div class="row">
        <% if (trades) { trades.forEach(function(trade) { %>
            <div class='trade col-md-6'>
                <div class='tumbnail'>
                    <img src='<%= trade.usersBook.imageUrl %>'>
                    <img src='<%= trade.bookReceived.imageUrl %>'>
                    <a href='/api/trade/?book1=<%= trade.usersBook._id %>&book2=<%= trade.bookReceived._id %>' class='btn btn-success'>Make Trade</a>
                </div>
            </div>
        <% })} %>
    </div>
    
</div>

<% include ../partials/footer.ejs %>